.centre-div {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.center-horizontal {
  margin: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.banner-image {
  background-image: url("./pristine.svg");

  /* Set a specific height */
  height: 150px;
  width: 350px;
}

/* Place text in the middle of the image */
.banner-sub-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.sign-in-button {
  background-color: #e2c52d;
  color: #3a1f04;
}