.green {
  color: #3a9b38;
}
.dark-green {
  color: #02272f;
}

.golden {
  color: #e2c52d;
}

.gray {
  background-color: #e1e2e1;
}

.login-page {
  background: #02272f;
  width: 100vw;
  height: 100vh;
}

.centre-div {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.center-horizontal {
  margin: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.banner-image {
  background-image: url("./pristine.svg");

  /* Set a specific height */
  height: 150px;
  width: 350px;
}

.button {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  border: none;
  border-radius: 5px;
  box-shadow: 0 9px #999;
}

.button:hover {
  filter: brightness(85%);
}

.button:active {
  background-color: brightness(85%);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.sign-in-button {
  background-color: #e2c52d;
  color: #02272f;
}

.header-footer {
  background: #f2f2f2;
  box-shadow: 0 0 2px #666;
}

.sidebar {
  box-shadow: inset -1px 0 0 rgb(0 0 0 / 10%);
  background-color: #02272f;
}

.aside-item:hover {
  filter: brightness(85%);
  background-color: #02272ff0;
}
.aside-logo {
  width: 100%;
}
.aside-logo:hover {
  filter: brightness(85%);
  background-color: #02272ff0;
}
.aside-item-active  {
  opacity: 0;
  transition: opacity 800ms;
  text-align: left;
}
.aside-item:hover .aside-item-active {
  opacity: 1.0;
}

.vbottom{
  width: auto;
    position: absolute;
    bottom: 0;
}