.green {
  color: #3a9b38;
}
.dark-green {
  color: #02272f;
}
.golden {
  color: #e2c52d;
}
.gray {
  background-color: #e1e2e1;
}
.dark-gray {
  background-color: #cccccc;
}

.vh-100 {
  height: 100vh;
}

body {
  font-family: 'Laila', sans-serif;
}

.main {
  min-height: auto;
  margin-bottom: auto;
}

.login-page {
  background: #02272f;
  width: 100vw;
  height: 100vh;
}

.banner-image {
  background-image: url("./pristine.svg");

  /* Set a specific height */
  height: 115px;
  width: 350px;
}

.button {
  outline: none;
  border: none;
  border-radius: 5px;
  box-shadow: 0 3px #999;
  font-size: 0.8em;
}

.button:hover {
  filter: brightness(85%);
}

.button:active {
  background-color: brightness(85%);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.sign-in-button {
  background-color: #e2c52d;
  color: #02272f;
}

.footer {
  background: #f5f5f5;
  box-shadow: 0 0 2px #666;
  min-width: 100vw;
  font-size: 0.9em;
}

.sidebar {
  box-shadow: 4px 3px 2px 2px rgb(0 0 0 / 10%);
  background-color: #02272f;
  border-radius: 2px;
  max-height: 10vh;
}
.aside-logo {
  width: 200px;
}
.aside-icon {
  width: 20px;
  height: 20px;
  margin-bottom: 5px;
}
.nav-link:focus, .nav-link:hover {
  color: #e2c52d;
}
.navbar-nav:focus, .navbar-nav:hover {
  filter: brightness(85%);
}
.aside-item {
  font-size: 1.2em;
}
.aside-items {
  margin-left: 30px;
}